.header {
  background-color: transparent !important;
  border-bottom: 0cm;
  margin-right: 15px; 
  padding-top: 10px;
}

.navbar-light .navbar-nav .nav-link {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.white {
  color: white;
  font-size: 40px;
}

a {
  color: white;
  font-size: large;
}

li:hover {
  background-color: transparent;
  border-color: transparent;
}

.intro {
margin-top: 20%;
}

.boxed {
  text-align: left;
}

.btn-socials{
    padding: 0px 30px;
    border-radius: 30px;
    margin-left: 15px;
    font-size: 32px;
    color: white;
}

.btn-itchio{
    background-color: #fa5c5c;
    border-color: #fa5c5c    ;
}

