<div class="text-left intro">
    <div class="text-left container">
        <div class="row container info">
            <h1><strong>Contact Info</strong></h1>
            <br>
        </div>
        <div class="row" id="contact">
            <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <fa-icon [icon]="email" class="icon"></fa-icon>
                        <h5 class="card-title">Email</h5>
                        <p class="card-text">tsukada.m@hotmail.com</p>
                        <a href="mailto:tsukada.m@hotmail.com" target="_blank"
                            class="btn btn-secondary learnmore">Email a message</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
                <div class="card">
                    <div class="card-body">
                        <fa-icon [icon]="linkedin" class="icon"></fa-icon>
                        <h5 class="card-title">Linkedin</h5>
                        <p style="white-space: nowrap" class="card-text">www.linkedin.com/in/mtsukada/</p>
                        <a href="https://www.linkedin.com/in/mtsukada/" target="_blank"
                            class="btn btn-secondary learnmore">Message on Linkedin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-row-reverse">
    <div class="p-2">
        <a class="nav-link" href="#top">
            <fa-icon [icon]="return" class="icon-small"></fa-icon>
        </a>
    </div>
</div>