<div class="container ">
    <div class="row">
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/kalios.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kalios</h5>
                    <p class="card-text">A Procedural generated 2d platform game that has you controlling a character
                        that can dash, teleport and throw daggers at specific orbs to get to new places, This game was
                        created with 2 other developers using Unity.</p>
                    <a href="https://4nz.itch.io/kalios" target="_blank" class="btn btn-primary learnmore">Download The Demo</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/tanks.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Tanks</h5>
                    <p class="card-text">This game was created for my 3d game programming class module, where we were
                        responsible for creating a tank game where 2 players would shoot projectiles at each other and
                        if they needed any help they could get a damage multiplier or a regenerate health item</p>
                    <a href="../../assets/projects/tanks/tanks.html" target="_blank" class="btn btn-primary learnmore">Play The Demo</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/projects/FPS/Screenshot.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">First Person Unity Tutorial</h5>
                    <p class="card-text">A tutorial I did, that uses Unity and C# code that has been coverted to WebGL I
                        did most of the simple changes to the project and also created my own boss, this was created to
                        help learn the basics of Unity and how to deploy projects for different platforms such as
                        mobile, console, or deskop.</p>
                    <a href="../../assets/projects/FPS/fps.html" target="_blank" class="btn btn-primary learnmore">Play The Demo</a>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/Vr.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Making a Game in VR</h5>
                    <p class="card-text">this project was to gain some learning experice with VR Development by
                        implementing the camera rig,
                        character movement, and other systems
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/platformT.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">2D Sidescrolling Tutorials</h5>
                    <p class="card-text">2D game tutorials that I did that has a functioning UI system, sprite
                        animations, and a AI path finding system. similar to the First Person Unity Tutorial except, I
                        edited and modify most to all of assets and code that the tutorials provided game is provided on
                        github.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/tbahd.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">The Boy and His Dog</h5>
                    <p class="card-text">A 2d game about a boy and his dog going on a adventure to vanquish a accident
                        evil, fight enemies, solve puzzles and uncover the story of what happened</p>

                </div>
            </div>
        </div>
    </div>