<div class="container ">
    <div class="row">
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/kalios.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kalios</h5>
                    <p class="card-text">A Procedural generated 2d platform game that has you controlling a character
                        that can dash, teleport and throw daggers at specific orbs to get to new places, This game was
                        created with 2 other developers using Unity.</p>
                    <a href="https://4nz.itch.io/kalios" target="_blank" class="btn btn-primary learnmore">Download The Demo</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/mine_evo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mine Evolution</h5>
                    <p class="card-text">This game was created in partnership with <a href="https://www.cim.org/">CIM</a> and <a href="https://www.sciencenorth.ca/">Science North</a> to interest student and famlies in the mining industry</p>
                    <a href="https://mineevolution.ca/" target="_blank" class="btn btn-primary learnmore">Play The Demo</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
                <video aria-hidden="false" class="x19kjcj4 x186iv6y xh8yej3" 
                poster="https://scontent-yyz1-1.oculuscdn.com/v/t64.5771-25/39031621_723578129885496_4849660204270310239_n.jpg?stp=dst-jpg_q92_s1440x1440_tt6&amp;_nc_cat=108&amp;ccb=1-7&amp;_nc_sid=6e7a0a&amp;_nc_ohc=xF_gZSzPDC8Q7kNvwG6NF66&amp;_nc_oc=Adl6_Z-CSdp1rJzx5QWNOv2g9PkVHjVQd0OLEyKznCB1YvJ0Dk9V384LH652iuQ1qzE&amp;_nc_zt=3&amp;_nc_ht=scontent-yyz1-1.oculuscdn.com&amp;oh=00_AfYxjMBbtNDmWvXRkjC7andsPubrYtvatpfogkM0j91_lQ&amp;oe=68BFAF19" 
                width="100%"
                controls playsinline="" preload="auto">
                 <source src="https://scontent-yyz1-1.oculuscdn.com/v/t64.7195-25/10000000_365201353010499_1477532846318813682_n.mp4?_nc_cat=110&amp;ccb=1-7&amp;_nc_sid=b20b63&amp;_nc_ohc=YiYT0BbdP6AQ7kNvwGYlIpO&amp;_nc_oc=Adka-f4C0h2fLM4OQfUJGA8o_b3dB-iRSq0y8b4NtPz537h7qASW9sDLc0Mu7XfY8cU&amp;_nc_zt=28&amp;_nc_ht=scontent-yyz1-1.oculuscdn.com&amp;_nc_gid=L1uIcuEZpuO3Es7jfsUYlA&amp;oh=00_AfYo48FGLEuF2_UTN9ckuxfsZhxi2cg6Txy1oPPXJ_7fWA&amp;oe=68BF95DB">
                </video>
                <div class="card-body">
                    <h5 class="card-title">Swarm 2</h5>
                    <p class="card-text">A fast-paced VR arcade shooter where players use grappling hooks to swing through arenas and fight off swarms of alien enemies. I was brought on as a contracted developer to implement the rocket jump mechanic</p>
                    <a href="https://www.meta.com/experiences/swarm-2/5791805387504648/?srsltid=AfmBOopTYTX-VPVbbTvMvtD6Di428vMFnwIoahqnO_JqAyvEow9k9tzm" target="_blank" class="btn btn-primary learnmore">Play The Demo</a>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
               <iframe autoplay src="https://www.youtube.com/embed/3xRu0QcKVNQ" title="mlb hr derby arcade" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" >

               </iframe>
                <div class="card-body">
                    <h5 class="card-title">MLB VR</h5>
                    <p class="card-text">A modified version of the <a href="https://www.meta.com/experiences/mlb-home-run-derby-vr/4468078983226058/?srsltid=AfmBOopE5IQ2LeVFokvTnCz5oj-Dsi91HaEoeTJkS3caDWkq470buh5R">MLB Home Run Derby VR</a> game, utilizes custom tool to communicate with external devices 

                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
                 <video aria-hidden="false" class="x19kjcj4 x186iv6y xh8yej3" 
                width="100%"
                controls playsinline="" autoplay loop preload="auto">
                 <source src="https://video.wixstatic.com/video/8273cf_aecefcd171da4622b81ffbffb0eb8fc8/1080p/mp4/file.mp4">
                </video>
                <div class="card-body">
                    <h5 class="card-title">Freakout</h5>
                    <p class="card-text">A rhythem VR game that features dance gates (a pose that the user needs to match) and uniquely modeled enviroments, that pay hommage to the 80's
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/tbahd.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">The Boy and His Dog</h5>
                    <p class="card-text">A 2d game about a boy and his dog going on a adventure to vanquish a accident
                        evil, fight enemies, solve puzzles and uncover the story of what happened</p>

                </div>
            </div>
        </div>
    </div>