<div class="container ">

    <ng-template #gameModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title text-dark">{{ selectedGame?.title }}</h5>
            <button (click)="modal.dismiss()" type="button" class="close text-dark" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <iframe *ngIf="selectedGame" [src]="getSafeVideoUrl(selectedGame.VideoURL)" width="100%" height="350"
                frameborder="0" allowfullscreen>
            </iframe>
            <p [innerHTML]="selectedGame?.highLevelDescription" class="mt-3 text-dark"></p>
            <a *ngIf="selectedGame?.link" [href]="selectedGame?.link" target="_blank" class="btn btn-primary mt-2">
                Visit
            </a>
        </div>
    </ng-template>

    <div class="row">
        <ng-container *ngFor="let game of games; let i = index">

            <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
                <div class="card" style="width: 18rem;">

                    <img class="card-img-top" (click)="openModal(game, gameModal)" [src]="game.MediaURL"
                        alt="Card image cap">

                    <div class="card-body">
                        <h5 class="card-title">{{ game.title }}</h5>
                        <p class="card-text" [innerHTML]="game.description"></p>
                        <div (click)="openModal(game, gameModal)" target="_blank" class="btn btn-primary learnmore">
                            Learn More on What I did
                        </div>
                    </div>

                </div>
            </div>

            <div class="w-100" *ngIf="(i + 1) % 3 === 0"></div>

        </ng-container>
    </div>
</div>