<div class="d-flex justify-content-center" >
    <h1> Profile </h1>
</div>



<ul ngbNav #nav="ngbNav" id="profile" class="nav-tabs nav-fill">
    <li [ngbNavItem]="1">
        <a ngbNavLink>Games</a>
        <ng-template ngbNavContent>
            <div ></div>
            <app-gamesprofile></app-gamesprofile>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink>Other Projects</a>
        <ng-template ngbNavContent>
            <app-other></app-other>
        </ng-template>
    </li>

</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>