<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/klocked.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Klocked </h5>
                    <p class="card-text">A mobile applicaton I worked on developing new features and compontents like real world highlights, virtual pets and loot boxes
                    </p>
                    <a href="http://kw.mobovivo.com/" class="btn btn-primary learnmore">Visit the website</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/kw.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Klocked world</h5>
                    <p class="card-text">A web applicaton I built for work that allows people to purchase virtual
                        realestate, develop property, and sell advertising goods and services
                    </p>
                    <a href="http://kw.mobovivo.com/" class="btn btn-primary learnmore">Visit the website</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/chuck.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Chuck Norris joke website</h5>
                    <p class="card-text">A project I did, that utilizes JavaScript, Json, Jquery as well as basic HTML
                        and CSS. the point of this project was to access an API that has jokes about Chuck Norris and
                        display a joke depending on the type the user wants.</p>
                </div>
            </div>
        </div>
       
    </div>
    <div class="row">
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/shoppingList.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">(C) shopping list</h5>
                    <p class="card-text">this application takes a keyword, an item and a quantity of items, and then
                        adds it to a custom made stack data structure (list), we can then see what is in that list,
                        delete items from the list, or delete the whole list by also using a key words that the user
                        will enter</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/cimage.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">C image converter</h5>
                    <p class="card-text">this application takes a users svg image and converts into greyscale, and/or
                        flips it. As well
                        as a third option which creates a simple image using a color(rgb values) and alternates a white
                        bar between it.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch gamecard">

        </div>
    </div>
