.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/

npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
.history/

# Miscellaneous
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
/typings

# System files
Thumbs.db
